<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446397239111-itvscbkoofbjars75eoiov632635ihln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446397239111-itvscbkoofbjars75eoiov632635ihln</string>
	<key>API_KEY</key>
	<string>AIzaSyDCk58PLfN0MAMZVISh_65lhKNCHVZpcc4</string>
	<key>GCM_SENDER_ID</key>
	<string>446397239111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.projetIhm</string>
	<key>PROJECT_ID</key>
	<string>projetihm-99732</string>
	<key>STORAGE_BUCKET</key>
	<string>projetihm-99732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446397239111:ios:0e9f6b566b1a4d8f4a0662</string>
	<key>DATABASE_URL</key>
	<string>https://projetihm-99732.firebaseio.com</string>
</dict>
</plist>