ActionBar{
    background-color:red;
}
.footer{
    margin-top: 30px;
    height: 100px;
    background-color: red;
}
.search{
    width: 100%;
}
.resultat{
    text-align: center;
    font-weight: bold;
    margin-top: 10;
    margin-left: 10;
    text-decoration: underline;
    font-size: larger;
}
.profile{
    width: 50;
    height: 50;
    border-radius: 30%;
    margin-top: 5;
    /* margin-right: 80%; */
    margin-left: 10;
}
.prof{
    font-weight: bold;
    font-size: 30px;
}
.boutons{
    margin-top: 80px;
    background-color: grey;
}
.profileIcon{
    width: 80px;
    height: 80px;
}
.message{
    font-weight: bold;
    font-size: 20px
}
.messagerie{
    width: 80px;
    height: 80px;
}
.text{
    margin : 15;
}
#pseudo{
    font-weight: bold;
}
.line {
    background: linear-gradient(to left, orangered, green, lightblue);
    height: 2px;
}
.description{
    text-align: center;
    margin-top: 10;
    margin-bottom: 10;
    font-weight: lighter;
}
.suivre{
    border-radius: 4;
    border-width: 0.5;
    border-color: #C4C4C4;
    box-sizing: border-box;
}
.envoye{
    color: black;
    border-radius: 4;
    background: #FFFFFF;
    border-width: 0.5;
    border-color: #C4C4C4;
    box-sizing: border-box;
}
.content{
    margin-top: 20;
}
#following{
    margin-left: 70;
    font-size: 15;
    font-weight: bold;
}
#message{
    margin-left: 30;
    font-size: 15;
    font-weight: bold;
}